@using NoorTrust.DonationFund.WebUi.Models
@using NoorTrust.DonationFund.Api.DataAccess
@model OrphanViewModel

@*@Html.HiddenFor(x => x.Id)

@Html.HiddenFor(x => x.SponsorId)*@

@*<table style=border:0px solid red">
    <tr>
        <td style="text-align: left; vertical-align: middle">@Html.Label("Orphans")</td>
        <td style="text-align: left; vertical-align: middle">&nbsp;&nbsp;@Html.EditorFor(model => model.OrphanID)</td>


        <td></td>
    </tr>
</table>*@